<div ng-controller="ViewTriggerListCtrl">

	<p class="headerTitle"> List of every chatbot triggers : </p>
	
	<div class="centerAlign">
  		<input type="text" ng-model="triggerFilter" placeholder="Search among triggers..."/>
  	</div>
  	
  	<ul>
        <li ng-repeat="trigger in triggersList | filter: triggerNameFilter">
        	{{ $index + 1 }}&nbsp; - &nbsp;
        	
        	<a href="#/viewTriggerContent/{{trigger.triggerName}}">
        		{{ trigger.triggerName }}
        	</a>
        </li>
    </ul>
</div>